/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: darkseagreen;
    height: 70px;
}

.nav {
    width: 1200px;

    margin: 0 auto;
}

.nav ul {
    display: flex;
    height: 70px;
    justify-content: center;
    gap: 30px;
    align-items: center;

    & li {
        font-size: 30px;
    }
}

nav li:hover {
    color: red;
}

h1,
h2 {
    text-align: center;
    font-size: 40px;
}

h2 {
    margin-top: 30px;
}

.products-content {
    display: flex;
    width: 1200px;
    justify-content: space-around;
    margin: 30px auto;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    width: 200px;
    height: 300x;
}

img {
    width: 150px;
    height: auto;
}